#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-grey {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-green {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-grey_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-green_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-grey_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-green_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-grey_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-green_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-grey_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-line-green_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Button_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-302babc1-1c54-4ae5-9a19-f0f9e7abdbcc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}