#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f #s-Text_3 {
  -ms-transform: rotate(53.0deg);
}
#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f #s-line-grey {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f #s-line-grey {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f #s-line-green {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f #s-line-green {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b6ad7faf-d328-45bf-ba2e-ad50a96c3e4f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}