#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.6018150231520483,M12=-0.7986355100472928,M21=0.7986355100472928,M22=0.6018150231520483);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.6018150231520483,M12=-0.7986355100472928,M21=0.7986355100472928,M22=0.6018150231520483);
  margin-left: -4px;
  margin-top: -136px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852352,M12=-0.224951054343865,M21=0.224951054343865,M22=0.9743700647852352);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852352,M12=-0.224951054343865,M21=0.224951054343865,M22=0.9743700647852352);
  margin-left: -5px;
  margin-top: -18px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852352,M12=-0.224951054343865,M21=0.224951054343865,M22=0.9743700647852352);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9743700647852352,M12=-0.224951054343865,M21=0.224951054343865,M22=0.9743700647852352);
  margin-left: -4px;
  margin-top: -27px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}