#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  position: absolute;
  top: 258px;
  left: -47px;
  width: 458px;
  height: 239px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(53deg);
  -moz-transform: rotate(53deg);
  transform: rotate(53deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 48.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  top: 298px;
  left: 39px;
  width: 276px;
  height: 71px;
  background-color: #00FFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 13px 13px 13px 13px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 'Kristen ITC',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Kristen ITC',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 800;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Kristen ITC',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 800;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  top: 167px;
  left: 184px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  transform: rotate(13deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: 'Stencil',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #9900FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Stencil',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #9900FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Stencil',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  position: absolute;
  top: 95px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  transform: rotate(13deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: 'Stencil',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span {
  color: #9900FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Stencil',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #9900FF;
  text-align: center;
  text-decoration: none;
  font-family: 'Stencil',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #9900FF;
  text-align: left;
  text-decoration: none;
  font-family: 'Stencil',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}